<div class="row center-xs">
<div class="col-xs-12 fblanco">
  <h3>Crear cuenta</h3>
</div>
<div class="col-xs-12 col-md-4">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% if session[:omniauth_errors] %>
    <div class="flash"> <%= session[:omniauth_errors] %></div>
  <%end%>

  <div class="input-field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: get_email_oauth %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit"  name="commit">sign up</button>
  </div>
<% end %>
</div>
<div class="col-xs-12 col-md-4">
  <%= render "devise/shared/links" %>
</div>
</div>
