<%= form_for([@article,@comment], remote: true, html: { id: "comments-form", :"data-type" => "json" }) do |f| %>
  
  <div class="input-field">
    <%= f.text_area :body, class:"materialize-textarea"%>
    <label for="comment_body">Escribe tu comentario</label>
     <button class="btn waves-effect waves-light blue darken-3 float-right" type="submit"  name="commit">comentar
     </button>
  </div>
<% end %>
