<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name) do %>
    <div class="login">Iniciar sesion</div>
  <%end%>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name) do %>
    <div class="login">Registrarse</div>
  <%end%>
<% end -%>

<!--
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name) do %>
    <div class="login">Recuperar contraseña</div>
  <%end%>
<% end -%>

-->


<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to  omniauth_authorize_path(resource_name, provider) do %>
       <% id = ""%>
      <%if provider.to_s.titleize == "Facebook" %>
        <% id = "log-face" %> 
      <%elsif provider.to_s.titleize == "Twitter"%>
         <% id = "log-twitter" %> 
      <%end%>
      <div id= <%="#{id}"%> class="login"><%="Registrarse con #{provider.to_s.titleize}"%></div>
    <%end%>
  <% end -%>
<% end -%>
