
<section class="col-xs-12 col-sm-12 col-md-10">
    <%= form_for(@article, html: { id: "articles_form" }) do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <% @article.errors.full_messages.each do |message| %>
                <p>* <%= message %></p>
            <%end%>
          </div>
        </div>  

        <div class="row center-xs">
          <div class="input-field col-xs-12 col-sm-12 col-md-9">
            <%= f.text_field :title, class:"materialize-textarea"%>
            <label for="article_title">Titulo</label>
          </div>
        </div> 

        <div class="row center-xs">
          <div class="col-xs-12 col-sm-12 col-md-9">
            <%= f.hidden_field :body, id: "body-textarea" %>
            <%= f.hidden_field :markup_body, id: "markup-body-textarea" %>
            <div id="epiceditor" class="input-field" style="height:400px;"></div>
          </div>

          <div class="col-xs-12 col-md-9 input-field start-xs">
            <h6>Categorias</h6>
            <% @categories.each do |category| %>
              <div class="input-field">
                <%= check_box_tag "categories[]",category.id, false, class: 'filled-in', id:category.id%>
                <%= label_tag category.id, category.name %>
              </div>
            <%end%>
           </div>

           <div class="col-xs-12 col-md-9 input-field start-xs">
             <button class="btn waves-effect waves-light" type="submit"  name="commit">Guardar
              </button>
           </div>
        </div>
    <%end%>
</section>

<script>
   var editor = new EpicEditor({

     textarea: "markup-body-textarea", 
     file:{
        name:"nuevo_articulo"
     }
   });

    editor.load();

   $("#articles_form").on("submit",function(){
      $("#body-textarea").val( editor.exportFile("nuevo_articulo", "html") );
      $("#markup-body-textarea").val( editor.exportFile("nuevo_articulo") );
   });
</script>
