<div class="row center-xs">
    <div class="col-xs-12 col-sm-12 col-md-10">
    	<h3 class="center-align">Editar Articulo</h3>
    </div>

    <%= render 'edit_form' %>

    <div class="col-xs-12 col-md-9">
    	<%= link_to 'Show', @article %> |
        <%= link_to 'Back', articles_path %>
    </div>
</div>
