<div class="row center-xs">
  <div class="col-xs-12 col-sm-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="row start-xs">
                <%= render @articles %>
            </div>
          </div>
        </div>
          <%= will_paginate @article %>
      </div>
    </div>
  </div>
</div>
