<header class="row">
  <%= encabezado_articulo @article.url_image, @article.title,{class:"encabezado-articulo ", class_cont:"col-xs-12 cont-encabezado"} %>
</header>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<section class="row center-xs">
  <div class="col-xs-12 col-sm-10 col-md-8 z-depth-1 fblanco">
    <div class="valign-wrapper info-articulo" >
      <%= image_tag @article.user.avatar, :class => "circle inline-block float-left " %>
      <p class="float-left valign  bold"><%= @article.user.username %> <strong class="valign  hide-on-small-only">Visitas: <%=@article.visitas%></strong></p>
    </div>
  </div>
  <article class="col-xs-12 col-sm-10 col-md-8 left-align z-depth-1 padding-100 fblanco">
    <%= Sanitize.fragment(@article.body, Sanitize::Config.merge( Sanitize::Config::RELAXED, :elements => Sanitize::Config::RELAXED[:elements] + [ 'video', 'iframe'], :attributes => {'iframe' => ['width', 'height', 'src','frameborder', 'allowfullscreen']}, :add_attributes => {'a' => {'target' => '_black'}})).html_safe %>

    <% unless current_user.nil? %>
      <% if (current_user.id  == @article.user.id) and  current_user.permission_level != 1 %>
      <p><%= link_to 'Editar', edit_article_path(@article) %></p>
      <%end%>
    <%end%>

    <p class="inline-block float-left hide-on-small-only">
      <% unless @article.categories.name.nil? %>
        <% @article.categories.each do |category| %>
          <strong><%=link_to category.name, category, style:"color:#{category.color}" %></strong>
        <%end%>
      <%end%>
    </p>
  </article>
  <div class="col-xs-12 col-sm-10 col-md-8  z-depth-1" style="background: #fff; padding: 5px;">
    <h5 class="left-align">Comentarios</h5>
    <p id="noti-comment"></p>
    <%= render "comments/form" %>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8  fblanco  z-depth-1">
    <ul id="comments-box" class="row">
      <% @article.comments.each do |comment| %>
        <li class="comentario col-xs-12 ">
          <% unless comment.user.avatar.nil? %>
            <%= image_tag comment.user.avatar, :class => "circle float-left" %>
          <%end%>
          <p class=" float-left "><strong> <%= comment.user.username %></strong><br>
          <%= comment.body %>
          </p>
        </li>
      <%end%>
    </ul>
  </div>
</section>



