
<div id="cont-slider" class="row"> 
 <div class="slider">
    <ul class="slides">
      <% @articles.each do |article| %>
         <%= slider_article article, {id:"slider_img"} %>
      <%end%>
    </ul>
  </div>
</div>


<div class="row center-xs">
  <div class="col-xs-9">
	<h4>Hola 
	<%if user_signed_in? %>
	  <%= current_user.username %>
	<%end%>
	</h4>
  </div>
</div>


