<div class="row center-xs">
  <div class="col-xs-12 col-sm-12 col-md-8">
    <div class="row">
    <div class="col-xs-12 start-xs">
        <h4>Crear un nuevo articulo</h4>
        <h5><%= link_to 'Nuevo articulo', new_article_path %></h5>  
    </div>
    <% if current_user.permission_level == 3 %> 
    <div class="col-xs-12 start-xs">
        <h4>Acciones administrador</h4>
        <h5><%= link_to 'Publicar articulos', publicar_path %></h5>
        <h5><%= link_to 'Crear categoria', categories_path %></h5> 
    </div>
    <%end%>
    <% if @mis_art_pen != [] %>
        <div class="col-xs-12 start-xs">
           <h4>Articulos sin publicar</h4>    
        </div>
        <div class="col-xs-12">
            <table class="striped">
                <thead>
                    <tr>
                        <th data-field="id">Articulo</th>
                        <th data-field="name">Fecha creado</th>
                        <th data-field="name">Fecha modificado</th>
                    </tr>
                </thead>
                <tbody>
                    <% @mis_art_pen.each do |articulo| %>
                        <td><%= link_to articulo.title, articulo , class: "bold" %></td>
                        <td><%= formato_fecha articulo.created_at %></td>
                        <td><%= formato_fecha articulo.updated_at %>- <%= link_to 'Editar', edit_article_path(articulo) %></td>
                    <%end%>
                </tbody>
            </table>
        </div>
    <%end%>

    <div class="col-xs-12 start-xs">
        <h4>Ultimos articulos publicados</h4>    
    </div>
    <div class="col-xs-12">
        <table class="striped">
            <thead>
                <tr>
                    <th data-field="id">Articulo</th>
                    <th data-field="name">Visitas</th>
                    <th data-field="name">Fecha creado</th>
                    <th data-field="name">Fecha modificado</th>
                </tr>
            </thead>
            <tbody>
                <% @mis_art_publi.each do |articulo| %>
                   <tr>
                    <td><%= link_to articulo.title, articulo, class: "bold" %></td>
                    <td><%= articulo.visitas %></td>
                    <td><%= formato_fecha articulo.created_at %></td>
                    <td><%= formato_fecha articulo.updated_at %>- <%= link_to 'Editar', edit_article_path(articulo) %></td>
                   </tr> 
                <%end%>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        <%= will_paginate @mis_art_publi %>
    </div>
    </div>
  </div>
</div>    

