<div class="row center-xs">
  <div class=" col-xs-12 col-md-8">
    <h3>Publicar</h3>
    <div class="row">
      <div class="col-xs-12">
          <table class="striped">
              <thead>
                  <tr>
                      <th data-field="id">Articulo</th>
                      <th data-field="name">Visitas</th>
                      <th data-field="name">Fecha creado</th>
                      <th data-field="name">Fecha modificado</th>
                      <th data-field="name">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <% @articles.each do |articulo| %>
                     <tr>
                      <td><%= link_to articulo.title, articulo, class: "bold" %></td>
                      <td><%= articulo.visitas %></td>
                      <td><%= formato_fecha articulo.created_at %></td>
                      <td><%= formato_fecha articulo.updated_at %></td>
                      <td>
                        <%= link_to 'Editar', edit_article_path(articulo) , class:"blue darken-4" %>
                        <%= link_to 'Elinimar', articulo, method: :delete, class:"red darken-3",data: { confirm: 'Esta seguro de eliminar?' } %>
                        <% if articulo.may_publicar?%>
                          <%= link_to "Publicar", "/articles/#{articulo.url}/publicar", method: :put , class:"green accent-4" %>
                        <%end%>
                      </td>
                     </tr> 
                  <%end%>
              </tbody>
          </table>
      </div>      
    </div>
    <div class="col-xs-12">
      <%= will_paginate @articles %>
    </div> 
  </div>
</div>