<div class="row center-xs">
<div class="col-xs-12 fblanco">
  <h3>Iniciar sesion</h3>
</div>
<div class="col-xs-12 col-md-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if session[:omniauth_errors] %>
    <div class="flash"> <%= session[:omniauth_errors] %></div>
  <%end%>

  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, :recordarme %>
    </div>
  <% end -%>

  <div class="actions input-field">
    <button class="btn waves-effect waves-light" type="submit"  name="commit">Iniciar sesion</button>
  </div>
<% end %>
</div>

<div class="col-xs-12 col-md-4">
  <%= render "devise/shared/links" %>
</div>
</div>