header {
  background-color: #1976d2;
}
.justify-align {
  text-align: justify;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.padding-100 {
  padding: 30px 100px 30px 100px !important;
}
.img-nav-perfil {
  margin-top: 10px;
}
.active-nav-perfil {
  margin-top: 60px !important;
  z-index: 1000;
}
#preview {
  height: 100px;
  width: 100%;
}
.preview-img {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 100% !important;
}
.image-post {
  height: 300px;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-repeat: no-repeat;
  -moz-background-position: center;
}
.card-datos {
  width: 100%;
  height: 30px;
  padding: 3px 10px 1px 10px;
  border-top: 1px solid #ebebeb;
  display: block;
}
.card-datos strong {
  color: #b2b2b2;
}
.comentario {
  border: 1px solid #ededed;
  border-bottom: 0px;
  padding: 10px;
}
.comentario:last-child {
  border-bottom: 1px solid #ededed;
}
.comentario p {
  text-align: left;
  margin: 0px;
  display: inline-block;
  margin-left: 10px;
}
.comentario img {
  display: inline-block;
}


	
  .caption h3{
  	color: #fff;
  	font-weight: 700 !important;
  	text-shadow: rgba(0,0,0,0.8) 0 1px 1px;
      text-rendering: auto;
      border-bottom: 0 none;
      letter-spacing: 2.5px;
  }
  
  
  .cont-encabezado{
  	padding:0 !important;
  	height:500px;
  }
   
  @media screen and (max-width: 767px){
  	.cont-encabezado{
      	height: 300px;
      }
  }
  
	.encabezado-articulo{
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color:#191919; 
	}
	
	
	.cont-encabezado h3{
		width: 100%;
		display:block;
		position:absolute;
      padding: 0 2.4em 0 2.4em;
		bottom:5em;
		color: #ffffff;
		font-weight: 600 !important;
		text-shadow: rgba(0,0,0,0.8) 0 1px 1px;
      text-rendering: auto;
      border-bottom: 0 none;
      letter-spacing: 2.5px;
	}
	@media screen and (max-width: 767px){
  	.cont-encabezado h3{
  		padding: 0 0.5em 0 0.5em;
      	bottom: 50%;
      }
  }

	.info-articulo{
		border-bottom: 1px solid #f9f7f7;
		padding: 3px 100px 3px 100px;
	}
	
	.info-articulo img{
		margin-right: 5px;
	}
  
  
  @media screen and (max-width: 767px){
  	.padding-100{
  		padding: 10px 20px 10px 20px !important;
  	}
  	
  	.info-articulo{
		    padding: 3px 20px 3px 20px;
	    }
  	
      .image-post{
      	height: 280px;
      }
  }
.login {
  background-color: #000;
  color: #fff;
  font-size: 1.8em;
  margin-top: 20px;
  -webkit-border-radius: 7px;
}

@media screen and (max-width: 990px)
{
	.login{
		margin-top: 10px;
	}
}
#log-face {
  background-color: #34495e;
}
#log-twitter {
  background-color: #51a3e2;
}
.pagination,
.current {
  font-style: normal;
}
.previous_page,
.next_page {
  color: #01579b;
}
.blanco {
  color: #fff;
}
.azul {
  color: #01579b !important;
}
.rojo-darken-3 {
  color: #c62828;
}
.fblanco {
  background-color: #fff;
}
