
@font-face {
  font-family: "Roboto";
  src: url(<%= asset_path "fonts/Roboto-Thin.woff2" %>) format("woff2"), url(<%= asset_path "fonts/Roboto-Thin.woff" %>) format("woff"), url(<%= asset_path "fonts/Roboto-Thin.ttf" %>) format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url(<%= asset_path "fonts/Roboto-Light.woff2" %>) format("woff2"), url(<%= asset_path "fonts/Roboto-Light.woff" %>) format("woff"), url(<%= asset_path "fonts/Roboto-Light.ttf" %>) format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url(<%= asset_path "fonts/Roboto-Regular.woff2" %>) format("woff2"), url(<%= asset_path "fonts/Roboto-Regular.woff" %>) format("woff"), font-url(<%= asset_path "fonts/Roboto-Regular.ttf" %>) format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(<%= asset_path "fonts/Roboto-Medium.woff2" %>) format("woff2"), url(<%= asset_path "fonts/Roboto-Medium.woff" %>) format("woff"), font-url(<%= asset_path "fonts/Roboto-Medium.ttf" %>) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url(<%= asset_path "fonts/Roboto-Bold.woff2" %>) format("woff2"), url(<%= asset_path "fonts/Roboto-Bold.woff" %>) format("woff"), font-url(<%= asset_path "fonts/Roboto-Bold.ttf" %>) format("truetype");
  font-weight: 700; }