<div class="col-md-12">
  <%= form_for(@category, html: {  class: "row center-sx center-md" }) do |f| %>
    <div class="col-md-7">
      <div class="row center-xs">

        <div class="input-field col-md-12">
          <%= f.text_field :name ,class:"materialize-textarea"%>
          <label for="category_name">Nombre</label>
        </div>

        <div class="input-field  col-md-12">
          <label for="category_color ">Color</label>
          <%= f.color_field :color %>
        </div>

      </div>

      <div class="col-md-3">
          <button class="btn waves-effect waves-light" type="submit"  name="commit">Crear
          </button>
      </div>
    </div>
      <% end %>
</div>
