<div class="row center-xs">
   <div class=" col-md-12 center-align">
   	  <h3>Editar categoria</h3>
   </div>
    <%= render 'form' %>
    
</div>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
