<div class="row center-xs">
  <div class="col-xs-12 col-sm-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="row start-xs">
              <% @articles.each do |article| %>
                <article class="col-xs-12 col-sm-6 col-md-4">
                    <%= post_article article%> 
                </article>
              <%end%>
            </div>
          </div>
          <div class="col-xs-12">
            <%= will_paginate @articles %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
