<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="https://res.cloudinary.com/andresmestra/image/upload/v1441832644/logof_yihg8h.png">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render "parciales/navegacion" %>

<%= yield %>
<footer class="col-xs-12 grey darken-4">
<div class="row center-xs">
	<div class="col-xs-12 col-md-8">
    <div class="row middle-xs">
      <div class="col-xs-12 col-md-6 start-xs">
        <ul class="redes_sociales ">
          <li><a href="https://www.facebook.com/ReacTimes-858984860852262/timeline/" target="_blank"><%= cl_image_tag("facebook_rtzpk0.png")%></a></li>
          <li><a href="https://twitter.com/reactimes" target="_blank" ><%= cl_image_tag("twitter_qfca3x.png")%></a></li>
          <li><a href="https://www.youtube.com/channel/UC7YjmZVkQigdSJVfbGI2O7w" target="_blank"><%= cl_image_tag("youtube_gtgyvb.png") %></a></li>   
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 start-xs end-md">
        <ul class="  blanco">
          <li>Quienes somos</li>
          <li>Contacto</li>
        </ul>
      </div>
    </div>
	</div>	
</div>
	
</footer>
</body>
</html>
